{% extends "admin/layout.twig" %}
{% import "macros.twig" as macros %}

{% set schedules    = event.schedules  %}
{% set numSchedules = schedules|length %}

{% block title %}{{ event.name }} &ndash; Admin{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2 class="h-jail"><a href="/-/admin/events">Events</a> \ {{ event.name|shorten(40) }}{% if event.user.id == app.user.id %} <small class="text-info">This is yours!</small>{% endif %}</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-7">
		<div class="well">
			<form method="post" action="/-/admin/events/{{ event.id }}/edit" class="form-horizontal">
				<div><input type="hidden" id="_method" name="_method" value="PUT" /></div>
				<fieldset>
					<legend>Event Information <span class="text-muted">(ID {{ event.id|obscurify('event') }})</span></legend>
					<div class="form-group">
						<label class="col-lg-4 control-label">Owner:</label>
						<div class="col-lg-8">
							<p class="form-control-static h-jail">{{ macros.backend_user_link(event.user) }}</p>
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'name') }}">
						<label class="col-lg-4 control-label" for="name">Name:</label>
						<div class="col-lg-8">
							<input
                                type="text"
                                class="form-control"
                                id="name"
                                name="{{ field_name(form.name) }}"
                                autofocus
                                required
                                value="{{ field_value(form.name) }}"
                            />
							{{ form_errors(form.name) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'slug') }}">
						<label class="col-lg-4 control-label" for="slug">Slug:</label>
						<div class="col-lg-8">
							<input
                                type="text"
                                class="form-control"
                                id="slug"
                                name="{{ field_name(form.slug) }}"
                                required
                                value="{{ field_value(form.slug) }}"
                            />
							{{ form_errors(form.slug) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'website') }}">
						<label class="col-lg-4 control-label" for="website">Website:</label>
						<div class="col-lg-8">
							<input
                                type="text"
                                class="form-control"
                                id="website"
                                name="{{ field_name(form.website) }}"
                                value="{{ field_value(form.website) }}"
                            />
							{{ form_errors(form.website) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'twitch') }}">
						<label class="col-lg-4 control-label" for="twitch">Twitch Stream:</label>
						<div class="col-lg-8">
							<div class="input-group">
								<div class="input-group-addon">https://twitch.tv/</div>
								<input
                                    type="text"
                                    class="form-control"
                                    id="twitch"
                                    name="{{ field_name(form.twitch) }}"
                                    value="{{ field_value(form.twitch) }}"
                                />
							</div>
							{{ form_errors(form.twitch) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'twitter') }}">
						<label class="col-lg-4 control-label" for="twitter">Twitter Account:</label>
						<div class="col-lg-8">
							<div class="input-group">
								<div class="input-group-addon">@</div>
								<input
                                    type="text"
                                    class="form-control"
                                    id="twitter"
                                    name="{{ field_name(form.twitter) }}"
                                    value="{{ field_value(form.twitter) }}"
                                />
							</div>
							{{ form_errors(form.twitter) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'theme') }}">
						<label class="col-lg-4 control-label" for="theme">Theme:</label>
						<div class="col-lg-8">
							{% set t = field_value(form.theme) %}
							<select name="{{ field_name(form.theme) }}" id="theme" class="form-control h-fancy">
							{% for themeKey,themeName in themes %}
								<option value="{{ themeKey }}"{% if t == themeKey %} selected{% endif %}>{{ themeName }}</option>
							{% endfor %}
							</select>
							{{ form_errors(form.theme) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'secret') }}">
						<label class="col-lg-4 control-label" for="secret">Secret:</label>
						<div class="col-lg-8">
							<input
                                type="text"
                                class="form-control"
                                id="secret"
                                name="{{ field_name(form.secret) }}"
                                maxlength="20"
                                value="{{ field_value(form.secret) }}"
                            />
							{{ form_errors(form.secret) }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(form, 'max_schedules') }}">
						<label class="col-lg-4 control-label" for="max_schedules">Max # of schedules:</label>
						<div class="col-lg-8">
							<input
                                type="number"
                                min="{{ numSchedules }}"
                                max="999"
                                class="form-control"
                                id="max_schedules"
                                name="{{ field_name(form.max_schedules) }}"
                                value="{{ field_value(form.max_schedules) }}"
                            />
							<span class="help-block">This event already has {{ numSchedules }} schedule{{ numSchedules == 1 ? '' : 's' }}.</span>
							{{ form_errors(form.max_schedules) }}
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-4 control-label"></label>
						<div class="col-lg-8">
							<div class="checkbox">
								<label>
                                    <input
                                        type="checkbox"
                                        name="{{ field_name(form.featured) }}"
                                        value="1"{{ featured ? ' checked' : '' }}
                                    />
                                    feature this event on the homepage</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-12 text-center">
							<button type="submit" name="{{ field_name(form.submit) }}" class="btn btn-primary btn-sm"><i class="fa fa-check"> </i> Update Event</button>
							&ndash; or &ndash;
							<a href="/-/admin/events/{{ event.id }}/delete" class="btn btn-warning btn-sm"><i class="fa fa-trash-o"></i> Delete Event</a>
						</div>
					</div>
				</fieldset>

                {{ form_errors(form) }}
                {{ form_rest(form) }}
			</form>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-5 h-formhelp">
		<legend>Schedules</legend>

		{% if numSchedules == 0 %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i> This event has no schedules yet.
		</div>
		{% else %}
		<ul class="row h-node-list">
			{% for schedule in schedules %}
			<li class="col-lg-12 col-md-12 col-sm12 col-xs-12">
				{% set start = schedule.localStart %}
				{% set end   = schedule.localEnd   %}
				<div class="well well-sm">
					<h4 class="h-jail">
						<a href="/-/admin/schedules/{{ schedule.id }}/edit"><i class="fa fa-calendar"></i> {{ schedule.name|shorten(30) }}</a>
						<span class="badge">{{ schedule.items|length }}</span><br>
						<small>
							{% if start.format('Ymd') == end.format('Ymd') %}
							<time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}">{{ start.format('H:i') }}</time> &ndash;
							<time datetime="{{ end.format('Y-m-d\\TH:i:sP') }}">{{ end.format('H:i \\o\\n D, M d, Y') }}</time>
							{% else %}
							<time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}">{{ start.format('D, M d') }}</time> &ndash;
							<time datetime="{{ end.format('Y-m-d\\TH:i:sP') }}">{{ end.format('D, M d, Y') }}</time>
							{% endif %}
						</small>
					</h4>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
